:root{
    --placeholder-color:rgba(255, 255, 255, 0.465);
    --placeholder-focus-color:rgb(56, 56, 56);
    --input-min-width:130px;
    --input-width:180px;
}

/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: flex;
  flex-direction: column;
  width:var(--input-width);
  padding:0;
}
.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width:var(--input-width);
  padding:0;
}
.input-icon{
    position: absolute;
    top:3px;
    right:3px;
    color:rgb(80, 80, 80)
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding:4px 5px;
  font-size: 16px;
}
input[type=submit] {
  color: #fff;
  cursor: pointer;
}

/* -----Input----- */
input[type=text]{
    width: 100%;
    background-color: #f1f1f1;
    -webkit-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    float:right;
    border-radius: 8px;
    color: #f1f1f1;
}
input[type=text].animate{
      width:var(--input-min-width);

}

input[type=text].transparent {
  background-color: transparent;
  border-bottom:1px solid #ffff;
    border-radius: 0;
}

input[type=text]:focus {
    width: 100%;
    border-radius: 8px;
    border-color:transparent !important;
    background-color: #f1f1f1;
}
input:focus {
    width: 100%;
    border-radius: 8px;
    border-color:transparent;
    background-color: #f1f1f1;
}
input[type=text].animate:focus {
  width:var(--input-width);
    border-radius: 8px;
    background-color: #f1f1f1;
}
input[type=text].transparent:focus {
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.356);
    border-bottom:1px solid #ffff;
    border-radius: 0;
}

::placeholder { /* Firefox, Chrome, Opera */ 
    color: var(--placeholder-color); 
} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: var(--placeholder-color); 
} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: var(--placeholder-color); 
} 
input[type=text].transparent:focus  ::placeholder { /* Firefox, Chrome, Opera */ 
    color: var(--placeholder-focus-color); 
} 
  
input[type=text].transparent:focus  :-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: var(--placeholder-focus-color); 
} 
  
input[type=text].transparent:focus  ::-ms-input-placeholder { /* Microsoft Edge */ 
    color: var(--placeholder-focus-color); 
} 

/*
*/
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  background-color: #fff; 
  border-bottom: none;
  border-top: none;
  overflow: hidden;
  /*position the autocomplete items to be the same width as the container:*/
  top: 35px;
  left: 0px;
  width:90%;
  padding:0;
  margin: 0;
  border-radius: 4px;
  z-index: 1500;
}


/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}



/*--------------ITEMS ---------*/
.ac-list-item{
    position: relative;
    top:0;
    left:0;
    display: flex !important;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 4px;
    background-color: #fff; 
    color:#000000;
    width:90%;
  z-index: 1500;

}
.ac-list-item.active{

}
.ac-item-img {
    height:50px;
    width:32px;
    margin-right:4px;
}