:root{
    --placeholder-color:rgba(255, 255, 255, 0.465);
    --placeholder-focus-color:rgb(56, 56, 56);
    --input-min-width:120px;
    --input-width:180px;
    --color-dark: #232526;
    --color-light: rgb(211, 204, 227);
    --color-base:#232526;
    --color-contrast: #d3cce3;
}

/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width:var(--input-width);
  padding:0;
  height:40px;

}

svg.input-icon{
    position: absolute;
    top:-1px;
    right:0;
    height:40px;
    width:40px;
    max-height:70% !important;
    color: var(--color-contrast);

}

input#searchbox-input {
  position: relative;
  background-color: #f1f1f1;
  padding: 4px;
  font-size: 16px;
}

/* -----Input----- */
input#searchbox-input[type=text]{
    width: 100%;
    -webkit-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    float:right;
    color: #f1f1f1;
    background-color: transparent;
    border:1px solid transparent;
    border-bottom:2px solid var(--color-contrast);
    border-radius: 0;
}

input#searchbox-input[type=text].animate{
      width:var(--input-min-width);
      opacity: 0.6;
}


input#searchbox-input[type=text]:focus {
    width: 100%;
    border-bottom:2px solid var(--color-contrast);
    background-color: transparent;
    outline:none;
}

input#searchbox-input[type=text]:focus{
    width: 100%;
    opacity:0.99;
}

::placeholder { /* Firefox, Chrome, Opera */ 
    color: var(--placeholder-color); 
} 
::-webkit-input-placeholder { color: #666;} 
:-ms-input-placeholder { color: #666; }
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: var(--placeholder-color); 
} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: var(--placeholder-color); 
} 
input#searchbox-input[type=text]:focus  ::placeholder { /* Firefox, Chrome, Opera */ 
    color: var(--placeholder-focus-color); 
} 
  
input#searchbox-input[type=text]:focus  :-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: var(--placeholder-focus-color); 
} 
  
input#searchbox-input[type=text]:focus  ::-ms-input-placeholder { /* Microsoft Edge */ 
    color: var(--placeholder-focus-color); 
} 

/*
*/
.autocomplete > .autocomplete-items {
  position: absolute;
  border:none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  /*position the autocomplete items to be the same width as the container:*/
  top: 35px;
  left: 0px;
  width:90%;
  padding:4px;
  margin: 0;
  border-radius: 4px;
  background-color:var(--navbar-color);
  background:var(--navbar-color);
  z-index: 1500 !important;
  cursor: pointer;
}




/*--------------ITEMS ---------*/
.ac-list-item{
    position: relative;
    top:0;
    left:0;
    display: flex !important;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 4px;
    background:var(--navbar-color);
    color:var(--navbar-link-color);
    width:100%;
    font-size: 12px;
    z-index: 1500 !important;

}

.ac-item-img {
    height:100%;
    width:32px;
    margin-right:4px;
}


/*when hovering an item:*/
.autocomplete-items div:hover {
  text-decoration: underline;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  color: #ffffff; 
}
.ac-list-item.active{
  text-decoration: underline;
}
