/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}


/* Show the tooltip text when you mouse over the tooltip container */



/* TOP */
.tooltip.top .tooltiptext{
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
}

.tooltip.top .tooltiptext::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
}

/*LEFT */
.tooltip .tooltiptext.left{
  top: -5px;
  right: 125%; 

}
.tooltip .tooltiptext.left::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
}

/*RIGHT */
.tooltip .tooltiptext.right{
  top: -5px;
  left: 105%; 

}
.tooltip .tooltiptext.right::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
}

/*BOTTOM */
.tooltip .tooltiptext.bottom {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext.bottom::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
