/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;  
  /* Position the tooltip */
  position: absolute;
  z-index: 3000;

}

/* Show the tooltip text when you mouse over the tooltip container */

/*-----RIGHT------- */
.tooltip.right .tooltiptext {
  width: 120px;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  top: -5px;
  left: 115%;
}
.tooltip.right .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
/*-----LEFT------- */
.tooltip.left .tooltiptext {
  width: 120px;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  top: -5px;
  right: 115%;
}
.tooltip.left .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%; /* To the right of the tooltip */
  margin-top: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

/*-----TOP-------- */
.tooltip.top .tooltiptext {
  width: 120px;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  bottom: 115%;
  left: 50%;
  margin-left: -60px;
}
.tooltip.top .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
/*-----BOTTOM------ */
.tooltip.bottom .tooltiptext {
  width: 120px;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  top: 115%;
  left: 50%;
  margin-left: -60px;
}
.tooltip.bottom .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
