.progress-ring {
  transition: 0.35s stroke-dashoffset;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

circle {
    transition: stroke-dashoffset 0.35s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}
.progress-div{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

}

.progress-div span.label{
	position: absolute; 
	top: 32%; 
	left: 0;
	width:100%;
	text-align:center;
}
.base-circle{
	z-index: 1 !important;
}
.front-circle{
	z-index: 5 !important;
}